.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.contact-icon {
  transition: transform .2s;
}

.contact-icon:hover {
  transform: scale(1.15);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-about, .App-experience, .App-contact, .App-skills, .App-education {
  padding-top: 50px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  /* white-space: nowrap; */
  /* -webkit-overflow-scrolling: touch; */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  max-width: 275px;
  min-width: 275px;
  flex: none;
  margin-left: 1vw;
  margin-right: 1vw;
  border-width: 1px;
}

.card:hover {
  outline-color: green;
}

/* .scrolling-wrapper > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
}

.scrolling-wrapper > .row > .col {
  display: inline-block;
  float: none;
} */



/*
below is css for rotating cube on home page
*/



#wrapD3Cube {
  width: 250px;
  height: 213px;
  margin: 20px auto;
}
#D3Cube {
  width: 170px;
  height: 170px;
  top: -35px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: cubeRotation 5s infinite; /* Safari 4.0 - 8.0 */
  animation: cubeRotation 5s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes cubeRotation {
  0%   {	-webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);	}
  50%   {	-webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);	}
  100%   {	-webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);	}
}
/* Standard syntax */
@keyframes cubeRotation {
  0%   {	transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);	}
  50%   {	transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);	}
  100%   {	transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);	}
}
#D3Cube > div {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 170px;
  height: 170px;
  float: left;
  overflow: hidden;
  opacity: 0.85;
}
#side1 {
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(85px);
  /* background-color: #FFF; */
  background: linear-gradient(#fff, #fff);
}
#side2 {
  transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  /* background-color: #ffaf1c; */
  background-color: #007BFF;
  /* background: linear-gradient(#ffd89b, #19547b); */
}
#side3 {
  transform: translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(85px);
  /* background-color: #58d568; */
  background-color: #28A745;
  /* background: linear-gradient(#cc2b5e, #753a88); */
}
#side4 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(85px);
  /* background-color: #ed3030; */
  background-color: #DC3545;
  /* background: linear-gradient(#2193b0, #6dd5ed); */
}
#side5 {
  transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(85px);
  /* background-color: #1c5ffe; */
  background-color: #FFC107;
  /* background: linear-gradient(#f6d365, #fda085); */
}
#side6 {
  transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(85px);
  background-color: #f2f215;
  /* background-color: #FFF; */
}